@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&family=Nanum+Gothic:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 3rem;
  font-family: "Nanum Gothic", "sans-serif";
}

@keyframes moveInLeft {
  0% {
    opacity: 0.1;
    transform: translateX(-8rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0.1;
    transform: translateX(8rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
h2 {
  padding: 1rem 0;
  font-size: 2.4rem;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(90deg, #c1b7ff, #ffdbec);
  -webkit-background-clip: text;
  background-color: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s;
}
h2 :hover {
  padding-left: 1.5rem;
}

h3 {
  padding: 0.5rem 0;
  color: #474747;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.u-margin-right-small {
  margin-right: 1rem;
}

.u-margin-right-medium {
  margin-right: 2rem;
}

.u-margin-right-big {
  margin-right: 3rem;
}

.btn-text {
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 1px solid #c1b7ff;
  transition: all 0.5s;
}
.btn-text:hover {
  color: #fff;
  background-color: #ffdbec;
  border-bottom: 1px solid transparent;
}

.nav-checkbox {
  display: none;
}
.nav-button {
  background-color: #c4e3ff;
  width: 7rem;
  height: 6rem;
  position: fixed;
  top: 7rem;
  right: 8rem;
  z-index: 2000;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
}
.nav-bg {
  background-image: radial-gradient(#c1b7ff, #ffdbec);
  width: 7rem;
  height: 6rem;
  position: fixed;
  top: 7rem;
  right: 8rem;
  z-index: 1000;
  cursor: pointer;
  border-radius: 2px;
  text-align: center;
  transition: all 0.8s;
}
.nav-checkbox:checked ~ .nav-bg {
  transform: scale(80);
}
.nav-icon {
  position: relative;
  margin-top: 3rem;
  display: block;
}
.nav-icon::before {
  top: -0.8rem;
}
.nav-icon::after {
  top: 0.8rem;
}
.nav-icon::before, .nav-icon::after {
  position: absolute;
  content: "";
  left: 0;
  transition: all 0.2s;
}
.nav-icon, .nav-icon::before, .nav-icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.nav-button:hover .nav-icon::before {
  top: -1rem;
}
.nav-button:hover .nav-icon::after {
  top: 1rem;
}
.nav-checkbox:checked ~ .nav-button .nav-icon::before {
  top: 0;
  transform: rotate(135deg);
}
.nav-checkbox:checked ~ .nav-button .nav-icon::after {
  top: 0;
  transform: rotate(-135deg);
}
.nav-checkbox:checked ~ .nav-button .nav-icon {
  background-color: transparent;
}
.nav-checkbox:checked ~ .nav-body {
  opacity: 1;
  left: 0;
}
.nav-body {
  position: fixed;
  top: 0;
  left: -120%;
  width: 100vw;
  height: 100vh;
  z-index: 1500;
  opacity: 0;
  transition: all 0.8s;
}
.nav-list {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  width: 100%;
  text-align: center;
}
.nav-link {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.4s;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
}
.nav-link:hover {
  color: #c1b7ff;
  background-position: 100%;
  transform: translateX(1rem);
}

header {
  width: 100%;
  height: 90vh;
  position: relative;
  background-image: linear-gradient(180deg, #c1b7ff 0%, #ffdbec 100%), url(../images/header-image.jpg);
  background-blend-mode: hard-light;
  background-size: cover;
  background-position-x: center;
}
header img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 701px) and (max-width: 899px) {
  header img {
    height: 600px;
    transform: translateX(-25%);
  }
}
@media screen and (max-width: 700px) {
  header img {
    height: 300px;
    transform: translateX(-50%);
  }
}
header .logo-text {
  position: absolute;
  left: 7rem;
  top: 4rem;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: -0.1rem;
  font-size: 5.6rem;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-iteration-count: 5;
  animation-delay: 2s;
  animation-full-mode: backwards;
}
@media screen and (min-width: 701px) and (max-width: 899px) {
  header .logo-text {
    font-size: 5rem;
    top: 2rem;
    left: 2rem;
  }
}
@media screen and (max-width: 700px) {
  header .logo-text {
    font-size: 4rem;
    font-weight: 400;
    top: 5rem;
    left: 4rem;
  }
}
header .header-text {
  padding-top: 3rem;
  position: absolute;
  left: 7rem;
  bottom: 15%;
  color: #fff;
  letter-spacing: -0.1rem;
  font-weight: 700;
}
@media screen and (min-width: 701px) and (max-width: 899px) {
  header .header-text {
    left: 2rem;
    bottom: 10%;
  }
}
@media screen and (max-width: 700px) {
  header .header-text {
    left: 3rem;
    bottom: 5%;
    font-size: 4rem;
    font-weight: 400;
  }
}
header .header-text-main {
  font-size: 7.2rem;
  text-shadow: 2px 2px 5px rgba(87, 58, 58, 0.5);
  line-height: 7.2rem;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-full-mode: backwards;
}
@media screen and (max-width: 700px) {
  header .header-text-main {
    font-size: 5rem;
    font-weight: 800;
  }
}
header .header-text-sub {
  font-size: 2.4rem;
  line-height: 3rem;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-full-mode: backwards;
}
@media screen and (min-width: 701px) and (max-width: 899px) {
  header .header-text-sub {
    color: #382943;
  }
}
@media screen and (max-width: 700px) {
  header .header-text-sub {
    padding-top: 2rem;
    color: #333;
    width: 90%;
  }
}

main {
  display: flex;
  flex-wrap: wrap;
}
main .section-about {
  background-color: #ededed;
  padding: 7rem 0 6.5rem 6rem;
  width: 66.66666%;
  min-height: 42rem;
}
@media screen and (min-width: 900px) and (max-width: 1400px) {
  main .section-about {
    width: 100%;
  }
}
@media screen and (min-width: 701px) and (max-width: 899px) {
  main .section-about {
    width: 100%;
    height: 54rem;
    padding: 7rem 5rem 6.5rem 6rem;
  }
}
@media screen and (max-width: 700px) {
  main .section-about {
    width: 100%;
    height: 66rem;
    padding: 7rem 6rem 7rem 6rem;
  }
}
main .section-about-words {
  width: 65%;
  padding: 2rem 2rem 0 0;
}
@media screen and (min-width: 701px) and (max-width: 899px) {
  main .section-about-words {
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  main .section-about-words {
    width: 100%;
  }
}
main .section-about-words p {
  padding: 1.5rem 0;
  font-size: 0.4rem;
  font-width: 700;
  text-align: justify;
}
main .section-about-photo {
  position: relative;
  width: 35%;
  left: 70%;
  top: -40%;
}
@media screen and (min-width: 701px) and (max-width: 899px) {
  main .section-about-photo {
    left: 0%;
    top: 0%;
    width: 100%;
  }
}
@media screen and (max-width: 700px) {
  main .section-about-photo {
    left: 0%;
    top: 0%;
    width: 100%;
  }
}
main .section-about-photo .photo {
  position: absolute;
  width: 18rem;
  height: 12rem;
  transition: all 0.5s;
}
@media screen and (min-width: 701px) and (max-width: 899px) {
  main .section-about-photo .photo {
    left: 50% !important;
    top: 3rem !important;
  }
}
@media screen and (max-width: 700px) {
  main .section-about-photo .photo {
    left: 50% !important;
    top: 3rem !important;
  }
}
main .section-about-photo .photo:hover {
  transform: scale(1.1);
  padding: 1rem;
  border: 3px solid #c1b7ff;
  z-index: 10;
}
main .section-about-photo .photo:nth-child(1) {
  left: 1rem;
  top: 3rem;
}
@media screen and (min-width: 701px) and (max-width: 899px) {
  main .section-about-photo .photo:nth-child(1) {
    transform: translateX(-120%);
  }
}
@media screen and (max-width: 700px) {
  main .section-about-photo .photo:nth-child(1) {
    transform: translateX(-110%);
  }
}
main .section-about-photo .photo:nth-child(2) {
  left: 6rem;
  top: 10rem;
}
main .section-about-photo img {
  width: 100%;
  height: 100%;
  box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.5);
}
main .section-etc {
  width: 33.33334%;
}
@media screen and (min-width: 900px) and (max-width: 1400px) {
  main .section-etc {
    width: 100%;
    display: flex;
  }
}
@media screen and (min-width: 701px) and (max-width: 899px) {
  main .section-etc {
    width: 100%;
    display: flex;
  }
}
@media screen and (max-width: 700px) {
  main .section-etc {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
main .section-etc > [class^=etc] {
  height: 14rem;
  display: flex;
  flex-direction: row;
}
@media screen and (min-width: 900px) and (max-width: 1400px) {
  main .section-etc .etc {
    width: 33.33333%;
    height: 100% !important;
  }
}
@media screen and (min-width: 701px) and (max-width: 899px) {
  main .section-etc .etc {
    width: 33.33333%;
    height: 100% !important;
  }
}
main .section-etc .etc:nth-child(1) {
  background-color: #a8b8ff;
}
main .section-etc .etc:nth-child(2) {
  background-color: #c1e1ff;
}
main .section-etc .etc:nth-child(3) {
  background-color: #d6eaff;
}
main .section-etc .etc-icon {
  padding-top: 3.5rem;
  width: 30%;
  text-align: center;
}
main .section-etc .etc-icon i,
main .section-etc .etc-icon span {
  font-size: 6rem;
}
main .section-etc .etc-text {
  padding-top: 1rem;
  width: 70%;
}
main .section-etc .etc-text p {
  margin: 0.5rem 0;
  padding-right: 3.5rem;
  text-align: justify;
  font-size: 1.4rem;
}

footer {
  color: #b9b9b9;
  background-color: #3f4a56;
  padding: 9rem 7rem 3rem 7rem;
  display: flex;
}
@media screen and (max-width: 700px) {
  footer {
    padding: 9rem 2rem 3rem 7rem;
  }
}
footer .logo-text-footer {
  width: 25%;
  font-size: 4rem;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  text-transform: uppercase;
}
@media screen and (max-width: 700px) {
  footer .logo-text-footer {
    margin-right: 6rem;
    width: 20%;
  }
}
footer .copyright {
  width: 75%;
  font-size: 1.2rem;
}
footer .copyright p:nth-child(1) {
  margin-bottom: 2rem;
  word-break: break-all;
  text-align: justify;
  -moz-column-count: 3;
       column-count: 3;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  -moz-column-rule-style: dashed;
       column-rule-style: dashed;
  -moz-column-rule-width: 1px;
       column-rule-width: 1px;
  -moz-column-rule-color: #888;
       column-rule-color: #888;
  -moz-column-width: 1rem;
       column-width: 1rem;
}/*# sourceMappingURL=index.css.map */