main {
    & {
        display: flex;
        flex-wrap: wrap;
    }

    //section-about
    .section-about {
        & {
            background-color: #ededed;
            padding: 7rem 0 6.5rem 6rem;
            width: 66.66666%;
            //clamp(min,value,max)
            min-height: 42rem;

            @include mq('lg') {
                width: 100%;
            }

            @include mq('md') {
                width: 100%;
                height: 54rem;
                padding: 7rem 5rem 6.5rem 6rem;
            }

            @include mq('sm') {
                width: 100%;
                height: 66rem;
                padding: 7rem 6rem 7rem 6rem;
            }
        }

        &-words {
            width: 65%;
            padding: 2rem 2rem 0 0;

            @include mq('md') {
                width: 100%;
            }

            @include mq('sm') {
                width: 100%;
            }

            p {
                padding: 1.5rem 0;

                font: {
                    size: .4rem;
                    width: 700;
                }

                text-align: justify;
            }
        }

        &-photo {
            position: relative;
            width: 35%;
            left: 70%;
            top: -40%;

            @include mq('md') {
                left: 0%;
                top: 0%;
                width: 100%;
            }

            @include mq('sm') {
                left: 0%;
                top: 0%;
                width: 100%;
            }

            .photo {
                position: absolute;
                width: 18rem;
                height: 12rem;
                transition: all 0.5s;

                @include mq('md') {
                    left: 50% !important;
                    top: 3rem !important;
                }

                @include mq('sm') {
                    left: 50% !important;
                    top: 3rem !important;
                }

                &:hover {
                    transform: scale(1.1);
                    padding: 1rem;
                    border: 3px solid $color-primary;
                    z-index: 10;
                }

                &:nth-child(1) {
                    left: 1rem;
                    top: 3rem;

                    @include mq('md') {
                        transform: translateX(-120%);
                    }

                    @include mq('sm') {
                        transform: translateX(-110%);
                    }
                }

                &:nth-child(2) {
                    left: 6rem;
                    top: 10rem;
                }
            }

            img {
                width: 100%;
                height: 100%;
                box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.5);
            }
        }
    }

    //
    .section-etc {
        width: 33.33334%;

        @include mq('lg') {
            width: 100%;
            display: flex;
        }

        @include mq('md') {
            width: 100%;
            display: flex;
        }

        @include mq('sm') {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        &>[class^='etc'] {
            height: 14rem;
            display: flex;
            flex-direction: row;
        }

        .etc {
            @include mq('lg') {
                width: 33.33333%;
                height: 100% !important;
            }

            @include mq('md') {
                width: 33.33333%;
                height: 100% !important;
            }

            &:nth-child(1) {
                background-color: $color-blue-1;
            }

            &:nth-child(2) {
                background-color: $color-blue-2;
            }

            &:nth-child(3) {
                background-color: $color-blue-3;
            }

            &-icon {
                padding-top: 3.5rem;
                width: 30%;
                text-align: center;

                i,
                span {
                    font-size: 6rem;
                }
            }

            &-text {
                padding-top: 1rem;
                width: 70%;

                p {
                    margin: 0.5rem 0;
                    padding-right: 3.5rem;
                    text-align: justify;
                    font-size: 1.4rem;
                }
            }
        } //.etc
    }
}