h2 {
    padding: 1rem 0;
    font: {
        size: 2.4rem;
        weight: 800;
    }
    text-transform: uppercase;
    background: linear-gradient(90deg, $color-primary, $color-secondary);
    -webkit-background-clip: text;
    background-color: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s;
    & :hover {
        padding-left: 1.5rem;
    }
}
h3{
    padding: 0.5rem 0;
    color: $color-gray-dark;
    font: {
        size: 1.6rem;
        weight: 700;
    }
    text-transform: uppercase;
}